{
    "extends": [
        "airbnb",
        "node",
        "prettier",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["prettier", "@typescript-eslint"],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"],
                "paths": ["src"]
            }
        }
    },
    "rules": {
        "indent": ["error", 4],
        "import/extensions": ["error", "ignorePackages", {"ts": "never", "tsx": "never"}],
        "jsx-a11y/anchor-is-valid": [
            "error",
            {
                "components": ["Link"],
                "specialLink": ["hrefLeft", "hrefRight"],
                "aspects": ["invalidHref", "preferButton"]
            }
        ],
        "prettier/prettier": ["error"],
        "react/jsx-filename-extension": ["error", {"extensions": [".tsx"]}],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-one-expression-per-line": ["error", {"allow": "single-child"}]
    }
}
